#menu-horizontal {
    background-color: grey;
    margin: 2rem;
    border-radius: 10px;
}
#menu-horizontal ul{
    display: flex;
}
#menu-horizontal li {
    text-decoration: none;
    color: #000;
    background-color: lightgreen;
    list-style: none;
    border : 1px solid lightgreen;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 25%;
    text-align: center;
    cursor: pointer;
}
#menu-horizontal li:hover {
    opacity: 0.5;
}

@media only screen and (max-width: 768px) {
    #menu-horizontal li {
        width: 100%;
    }
}

#menu-vertical {
    background-color: grey;
    padding: 10px;
    margin : 2rem 18rem;
    border-radius: 10px;
}
#menu-vertical ul {
    list-style: none;
}
#menu-vertical li {
    text-decoration: none;
    color: #000;
    background-color: lightgreen;
    border : 1px solid lightgreen;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-left: -1.5rem;
    text-align: center;
    cursor: pointer;
}
#menu-vertical li:hover {
    opacity: 0.5;
}

#menu-deroulant-horizontal {
    background-color: grey;
    padding: 10px;
    margin : 2rem;
    border-radius: 10px;
}
#menu-deroulant-horizontal ul {
    display: flex;
    list-style: none;
}
#menu-deroulant-horizontal li {
    text-decoration: none;
    color: #000;
    background-color: lightgreen;
    border : 1px solid lightgreen;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 25%;
    text-align: center;
    cursor: pointer;
}
#menu-deroulant-horizontal li:hover {
    opacity: 0.8;
}
#menu-deroulant-horizontal ul ul {
    display: none;
    position: absolute;
    background-color: grey;
    border-radius: 10px;
}
#menu-deroulant-horizontal ul ul li {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-left: -1.7rem;
    width: 100%;
    border : 1px solid lightgreen;
    border-radius: 10px;
}
#menu-deroulant-horizontal li:hover ul {
    display: block;
}
#menu-deroulant-horizontal ul li a {
    text-decoration: none;
    color: #000;
}

#menu-deroulant-vertical {
    background-color: grey;
    padding: 10px;
    margin : 2rem  18rem;
    border-radius: 10px;
}
#menu-deroulant-vertical ul {
    list-style: none;
}
#menu-deroulant-vertical li {
    text-decoration: none;
    color: #000;
    background-color: lightgreen;
    border : 1px solid lightgreen;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-left: -1.5rem;
    text-align: center;
    cursor: pointer;
}
#menu-deroulant-vertical li:hover {
    opacity: 0.8;
}
#menu-deroulant-vertical ul ul {
    display: none;
    position: absolute;
    background-color: grey;
    border-radius: 10px;
    margin-left: 10rem;
    margin-top: -2rem;
}
#menu-deroulant-vertical ul ul li {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-left: -1.7rem;
    width: 100%;
    border : 1px solid lightgreen;
    border-radius: 10px;
}
#menu-deroulant-vertical li:hover ul {
    display: block;
}
#menu-deroulant-vertical ul li a {
    text-decoration: none;
    color: #000;
}

@media only screen and (max-width: 768px) {
    #menu-vertical,
    #menu-deroulant-horizontal,
    #menu-deroulant-vertical {
        margin: 2rem;
    }

    #menu-deroulant-horizontal ul ul {
        margin-left: 0;
        margin-top: -2rem;
    }

    #menu-deroulant-vertical ul ul {
        margin-left: 0; 
        margin-top: -2rem;
    }
}
